<a href="https://colab.research.google.com/github/cjmodi306/kolbenkraft_ai/blob/main/wine_quality_prediction/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.activations import sigmoid, relu
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Kolbenkraft/Wine Quality/winequality-red.csv')

In [4]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [5]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [6]:
data = df.drop(['quality'], axis=1)

In [7]:
data.head()

   fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
0            7.4              0.70         0.00  ...  3.51       0.56      9.4
1            7.8              0.88         0.00  ...  3.20       0.68      9.8
2            7.8              0.76         0.04  ...  3.26       0.65      9.8
3           11.2              0.28         0.56  ...  3.16       0.58      9.8
4            7.4              0.70         0.00  ...  3.51       0.56      9.4

[5 rows x 11 columns]

In [8]:
labels = df['quality']

In [9]:
for i in range(len(labels)):
  if labels[i] > 5:
    labels[i] = 1
  else:
    labels[i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
train_x, test_x, train_y, test_y = train_test_split(data, labels, test_size=0.33)

In [11]:
model = Sequential([
          Input((11,)),
          Dense(24, activation='relu'),
          Dense(1, activation='sigmoid')
])

In [12]:
tree_model = DecisionTreeClassifier()

In [13]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [14]:
history = model.fit(train_x, train_y, validation_data = (test_x, test_y),epochs = 100, verbose=0)

In [33]:
print("Sequential model train score: {}\nSequential model test score:{}".format(history.history['accuracy'][-1], history.history['val_accuracy'][-1]))

Sequential model train score: 0.7329598665237427
Sequential model test score:0.7121211886405945

In [18]:
tree_model = tree_model.fit(train_x, train_y)

In [32]:
print("Tree model train score: {}\nTree model test score:{}".format(tree_model.score(train_x, train_y), tree_model.score(test_x, test_y)))

Tree model train score: 1.0
Tree model test score:0.7443181818181818

In [26]:
input_data = (2.5,0.8,0.45,6.1,0.079,15.0,106.0,0.9959,3.45,0.8,12.5)

# changing the input data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the data as we are predicting the label for only one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
tree_pred = tree_model.predict(input_data_reshaped)
print(prediction, tree_pred)

if (prediction[0]>=0.6):
  print('Sequential model prediction: Good Quality Wine')
else:
  print('Sequential model prediction: Bad Quality Wine')


if (tree_pred[0]>=0.6):
  print('Decision Tree prediction: Good Quality Wine')
else:
  print('Decision Tree prediction: Bad Quality Wine')

[[0.86794317]] [1]
Sequential model prediction: Good Quality Wine
Decision Tree prediction: Good Quality Wine

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"